<h3>Du lieu tu Controller gui ve la: @ViewBag.infoStudent</h3>
<form asp-action="Phan1" method="post">
    <label>Nhap MaNV</label>
    <input type="text" name="MaNV">
    <label>Nhap TenNV</label>
    <input type="text" name="TenNV">
    <label>Nhap Diachi</label>
    <input type="text" name="Diachi">
    <label>Nhap Luong</label>
    <input type="text" name="Luong">
    <input type="submit" value="Gui du lieu">


</form>