<h2>Du lieu tu Controller gui ve la: @ViewBag.infoStudent</h2>

<form asp-action= "ast"  >
    <label>Nhap TenHS</label>
    <input type="text"  name="TenHS">
    <label>Nhap MaHS</label>
    <input type="text" name="MaHS">
    <label>Nhap Diem</label>
    <input type="text" name="Diem">
    <label>Nhap Lop</label>
    <input type="text" name="Lop">
    <input type="submit" value="Nhap thong tin">
</form>