<form asp-action="index">
    <label >Nhap ma nhan vien</label>
    <input type="text" name="manhanvien">
    <label >Nhap ten nhan vien</label>
    <input type="text" name="tennhanvien">
    <label >Nhap tuoi</label>
    <input type="text" name="tuoi">
    <label >Nhap luong</label>
    <input type="text" name="luong">
    <input type="submit" name="send">




</form>
<h1>du hieu gui ve Controller</h1>@ViewBag.tt