<h2>Du lieu chuyen tu View len Controller la: @ViewBag.infoFruti</h2>
<form asp-action="HH" >
    <label > Nhap Ten</label>
    <input type="text" name="Ten">
    <label > Nhap Nam Sinh</label>
    <input type="text" name="NamSinh">
    <label > Nhap Vi  Tri</label>
    <input type="text" name="ViTri">
    <input type="submit" value="Hien thi thong tin">

</form>